	body{
	margin: 0; 
	padding: 0; 
	background-color: #000000;
	padding-top: 0px;
	overflow:hidden;
	font: 13px/1.231 arial,helvetica,clean,sans-serif;
	text-align: center;}

	#main {
	height: 100%;
	width: 100%;
	position: absolute;
	border: 0px;
	padding: 0;
	margin: 0 auto;}

	#content{
	height: 100%;
	width: 100%;
	margin-top: 0px;
	margin-right:0px;}

	#filename{
	color: #dddddd;}
	
	table {
	display: table;
	border-collapse: collapse;
	border-spacing: 2px;
	border-color: gray;
	}

	th {
	font-size: 1.1em;
	background-color: #A7C942;
	color: #fff;
	}

	td {
	font-size: 1em;
	}

	td, th {
	padding: 3px 7px 2px 7px;
	text-align: left;
	border: 1px solid #98bf21;
	}

	tr.alt {
	color: #000;
	background-color: #EAF2D3;
	}

