	body{
	margin: 0; 
	padding: 0; 
	background-color: #000000;
	padding-top: 0px;
	overflow:hidden;
	font: 13px/1.231 arial,helvetica,clean,sans-serif;
	text-align: center;}

	#main {
	height: 100%;
	width: 100%;
	position: absolute;
	border: 0px;
	padding: 0;
	margin: 0 auto;}

	#content{
	height: 100%;
	width: 100%;
	margin-top: 0px;
	margin-right:0px;}

	#filename{
	color: #dddddd;}
	
	#table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
	}
